{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container col-md-12">
        {% if scans %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Начато</th>
                <th scope="col">Имя хоста или ip-адрес</th>
                <th scope="col">Аргументы</th>
                <th scope="col">Статус сканирования</th>
                <th scope="col">Окончено</th>
                <th scope="col">Удалить</th>
                <th scope="col">Отчет</th>
            </tr>
            </thead>
            <tbody>
            {% for scan in scans %}
            <tr>
                <td>{{ scan.started_at|date:"Y-m-d H:i:s" }}</td>
                <td>{{ scan.hostname.hostname }}</td>
                <td>{{ scan.arguments.arguments }}</td>
                <td>{{ scan.status }}</td>
                {% if scan.is_finished %}
                <td>{{ scan.finished_at|date:"Y-m-d H:i:s" }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td><a class="btn btn-danger" href="{% url 'delete_report' scan.pk %}">Удалить</a></td>
                {% if scan.status == 'Завершено' %}
                <td><a class="btn btn-primary" href="{% url 'report' scan.pk %}">Отчет</a></td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="text-center">Отсутствуют отчеты о сканировании</h2>
        {% endif %}
    </div>
{% endblock content %}