{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container col-md-6">
        {% if scan.report %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Протокол</th>
                <th scope="col">Порт</th>
                <th scope="col">Название</th>
                <th scope="col">Состояние порта</th>
            </tr>
            </thead>
            <tbody>
            {% for hostname, ports in scan.report.items %}
            <tr>
                <td colspan="4" style="text-align: center"><b>Имя хоста (или IP-адрес): {{ hostname }}</b></td>
            </tr>
                {% for port in ports %}
                <tr>
                    <td>{{ port.protocol }}</td>
                    <td>{{ port.port }}</td>
                    <td>{{ port.name }}</td>
                    <td>{{ port.state }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>Отчет о сканировании пустой</h1>
        {% endif %}
    </div>
{% endblock content %}
